<header style="background-color:{{ include.color }}" class="navbar navbar-expand navbar-dark" role="navigation">
  <div class="container-fluid">
	<a class="navbar-brand text-white al-header" style="padding: 5px 10px" href="{{ '/' | prepend: site.baseurl }}">
		<img width="32" src="{{ site.data.bio.basics.picture }}" class="d-inline-block rounded-circle">
		<span>{{ site.data.bio.basics.name }}</span>
	</a>
	<div class="ms-right navbar-nav">
		<a class="nav-link al-header" href="{{ '/about' | prepend: site.baseurl }}">
			{% include icons/icons.html url=url class='tf-header' name='person-fill' %}
			<span>About</span>
		</a>
		<a class="nav-link al-header" href="{{ '/projects' | prepend: site.baseurl }}">
			{% include icons/icons.html url=url class='tf-header' name='puzzle-fill' %}
			<span>Works</span>
		</a>
		<a class="nav-link al-header" href="{{ '/about/resume' | prepend: site.baseurl }}">
			{% include icons/icons.html url=url class='tf-header' name='file-earmark-image-fill' %}
			<span>Resume</span>
		</a>
	</div>
  </div>
</header>
