<div class="bg-gradient py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img width="250" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
      </div>
      <div class="col-lg-8 align-self-center">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
        <p class="lead text-center">{{ site.data.bio.basics.label }}</p>
        <hr class="my-4">
        <div class="row">

          {% if site.data.bio.basics.website %}
            <div class="col text-center">
				<a href='/'>
					{% include icons/icons.html url=url name='house' class='tf-social' %}
				</a>
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
				<a href={{ url }}>
					{% include icons/icons.html url=url name='envelope' class='tf-social' %}
				</a>
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
				<a href={{ url }} target='_blank'>
					{% include icons/icons.html url=url name=name class='tf-social' %}
				</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="my-4">
      <p class="lead">{{ site.data.bio.basics.summary }}</p>
    </div>
  </div>
</div>